{sys, [
    {lib_dirs, ["../../"]},
    {rel, "deploy", "1.0.0",
        [
            %% deps system application
            kernel,
            stdlib,
            deploy
        ]},
    {app_file, strip},
    {rel, "start_clean", "",
        [
            kernel,
            stdlib
        ]},
    {boot_rel, "deploy"},
    {profile, embedded},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/.*",
        "^erts.*/bin/(dialyzer|typer)"]},
    {app, deploy, [{incl_cond, include}]}
]}.

{target_dir, "deploy"}.

{overlay_vars, "vars.config"}.

{overlay, [
    {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
    {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
    {copy, "files/deploy", "bin/deploy"},
    {copy, "files/app.config", "etc/app.config"},
    {copy, "files/vm.args", "etc/vm.args"},
    {template, "files/env.sh", "lib/env.sh"}
]}.
