[
 {kernel, [{start_pg2, true}]},
 {sasl, [
         {sasl_error_logger, false}
        ]
 },

 {deploy,[
        {apps,[
            {deploy,
                 %% ssh config of app servers.
                 {app_config, [
                     {test_143, [
                         {ssh, "your server ip"},
                         {port, 22},
                         {user, "user name"},
                         {password, "your password"}
                     ]},
                     {code_173, [
                         {ssh, "your server ip"},
                         {port, 22},
                         {user, "user name"},
                         {password, "your password"}
                     ]}
                 ],
                 %% restart server command.
                 "/data/deploy/bin/deploy restart",
                 %% cookie of Erlang cluster.
                 'cookie_deploy_2013_by_denofiend',
                 %% name of Erlang cluster.
                 ['deploy01@127.0.0.1', 'deploy02@127.0.0.1', 'deploy03@127.0.0.1']
                 }
            }
        ]}
    ]
 }
].
